
.greenClass{
    background: linear-gradient(90deg, #00b09b 0%, #96c93d 66%);
    position: absolute;
    width: auto;
    height: auto;
    top: 100px;
    right: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.redClass{
    background: linear-gradient(90deg, #ff4c02 0%, #ffb500 66%);
    position: absolute;
    width: auto;
    height: auto;
    top: 100px;
    right: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}