
.container-checkout{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: rgb(170, 215, 255);
    height: 876px;    
}

.h1-checkout{
    margin: 20px;
    font-size: 35px;
}