.box-bag{
    display: flex;
    align-items: center;
    margin: 0px;  
    text-decoration: none;
}

.img-bag{
    height: 25px;
}

.p-bag{
    font-size: 17px;
    margin: 0px;
    color: #adb5bd;
}