.container-product{
    margin: 15px;
}

.img-product{
    height: 250px;
}

.name-product{
    font-size: 25px;
}

.price-product{
    font-size: 16px;
    font-family: monospace;
    margin: 20px;
}

.detail-product{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    background-color: #0071e3;
    margin: 5px;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 0.2s;
}

.detail-product:hover{
    background-color: #2893ff;
    color: white;
}