.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
}

.h1-name{
    font-size: 30px;
    margin: 10px;
    color: aliceblue;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.2s;
}

.box-link{
    margin: 15px;
    border-radius: 10px;
    background-color: black;
    border: 0px solid #0066cc;
    color: #adb5bd;
    text-decoration: none;
    transition: 0.2s;
}

.box-btn:hover{
    color: #0066cc;
}