.box-itemlistContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h1-item{
    margin: 20px;
}

.loauder{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}